/* GENERAL */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--base-color);
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

p {
  color: var(--text-color);
}

/* TRANSITION */

a,
.btn {
  transition: all 300ms ease;
}

/* DESKTOP NAV */

nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 17vh;
  position: sticky;
  background-color: var(--base-color);
  height: 10vh;
  top: 0;
  z-index: 1000;
}


.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

a {
  color: var(--secondary-text);
  text-decoration: none;
  text-decoration-color: white;
}

a:hover {
  color: var(--secondary-text);
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(181, 181, 181);
}

.logo {
  font-size: 2rem;
  color: var(--text-color);
}

.logo:hover {
  cursor: default;

}

/* HAMBURGER MENU */

#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color:  var(--accent-color);
  transition: all 0.3 ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color:  var(--accent-color);
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: var(--text-color);
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child {
  transform: none;
}

/* SECTIONS */

section {
  padding-top: 4vh;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

.section-container {
  display: flex;
}

/* PROFILE SECTION */

#profile {
  display: flex;
  gap: 5rem;
  height: 80vh;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.section__pic-container {
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
}

.section__text {
  align-self: center;
  text-align: center;
}

.section__text p {
  font-weight: 600;
}

.section__text__p1 {
  text-align: center;
}

.section__text__p2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.title {
  font-size: 3rem;
  text-align: center;
  color: var(--secondary-text);
}

#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

/* ICONS */

.icon {
  cursor: pointer;
  filter: saturate(0.5);
  border-radius: 50px;
  background-color: white;
  height: 2rem;
}

/* BUTTONS */

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: .8rem;
  width: 8rem;
  border-radius: 2rem;
}

.btn-color-1,
.btn-color-2 {
  border: rgb(53, 53, 53) 0.1rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
  background: var(--base-color);
  color: var(--text-color);
}

.btn-color-1:hover {
  background: var(--primary-color);
  color: var(--text-color);
}

.btn-color-2 {
  background: none;
  color: var(--text-color);
}

.btn-color-2:hover {
  border: rgb(255, 255, 255) 0.1rem solid;
  color: var(--text-color);
}

.btn-container {
  gap: 1rem;
  color: var(--text-color);
}

/* ABOUT SECTION */

#about {
  position: relative;
  height: auto;
  
}

.about-containers {
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.about-details-container {
  justify-content: center;
  flex-direction: column;
}

.about-containers,
.about-details-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.about-pic {
  border-radius: 2rem;
}

.arrow {
  position: absolute;
  right: -5rem;
  bottom: 2.5rem;
}

.details-container {
  padding: 1.5rem;
  
  color: var(--text-color);
  flex: 1;
  background: var(--base-color);
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
}

.section-container {
  gap: 4rem;
  height: 80%;
}

.section__pic-container {
  height: 300px;
  width: 100%;
  margin: auto 0;
}

/* EXPERIENCE SECTION */

#experience {
  position: relative;
}

.experience-sub-title {
  color: var(--secondary-text);
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

.experience-details-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.article-container {
  display: flex;
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 0.5rem;
    justify-content:flex-start;
    align-content: stretch;
}

article {
  display: flex;
  width: 10rem;
  justify-content: space-around;
  gap: 0.5rem;
}

article .icon {
  cursor: default;
}

/* PROJECTS SECTION */

#projects {
  position: relative;
  height: fit-content;
}

.color-container {
  border-color: rgb(163, 163, 163);
  background: var(--base-color);
}

.project-img {
  border-radius: 2rem;
  width: 100%;
  height: 90%;
}
.project-img:first-child{

  border-radius: 20px;
}
.project-title {
  margin: 1rem;
  color: var(--text-color);
  align-self: flex-end;
}

.project-btn {
  color: var(--text-color);
  border-color: rgb(163, 163, 163);
}

/* CONTACT */

#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
}

.contact-info-upper-container {
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  background: (250, 250, 250);
  margin: 2rem auto;
  padding: 0.5rem;
}

.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
}

.contact-info-container p {
  font-size: larger;
}

.contact-icon {
  cursor: default;
}

.email-icon {
  height: 2.5rem;
  filter: inherit;
}

/* FOOTER SECTION */

footer {
  height: 26vh;
  margin: 0 1rem;
}

footer p {
  text-align: center;
}



/* Style for WebKit browsers (e.g., Chrome, Safari) */
::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: var(--base-color) ;/* Background of the scrollbar track */
  border-radius: 10px; /* Rounded corners */
}

::-webkit-scrollbar-thumb {
  background-color: var(--base-variant); /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners */
  border: 2px solid #f1f1f1; /* Adds a little space around the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--text-color); /* Darker color on hover */
}


/* Scrollbar styling for Internet Explorer and Edge */
body {
  -ms-overflow-style: none; /* Hides scrollbar */
}

body::-ms-scrollbar {
  width: 12px;
}

body::-ms-scrollbar-track {
  background: var(--secondary-text);
}

body::-ms-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: 2px solid #f1f1f1;
}

body::-ms-scrollbar-thumb:hover {
  background-color:var(--base-variant);
}



/* new styles here */
.glasscon{
  display: block;
  position: absolute;
  width: 510px;
  height: 300px;
  min-height: 300px;
  z-index: -2;

  background-color: var(--base-color);
  overflow: hidden;
}

.circle {
    display: block;
    position: absolute;
    width: 300px;
    height: 300px;
    background: linear-gradient(#00f8ba, #008fe2);
    border-radius: 50%;
    animation: animate 10s ease-in-out infinite;
  }
  @keyframes animate {
    0%,100%{
      transform: translateX(10px);
    }
    50%{
      transform: translateX(200px);
    }
  }
  .glass {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .glass .layer {
    position: relative;
    width: 30px;
    height: 100vh;
    margin: 1px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.116);
    backdrop-filter: blur(30px);
  }
  .glass .layer:nth-child(4n+1) {
    backdrop-filter: blur(10px);
  }
  .glass .layer:nth-child(4n+2) {
    backdrop-filter: blur(50px);
  }
  .glass .layer:nth-child(4n+3) {
    backdrop-filter: blur(30px);
  }
  .glass .layer:nth-child(4n+4) {
    backdrop-filter: blur(20px);
  }


 /* form  */
#form{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-container {
  width: 400px;
  background: linear-gradient(var(--base-color), var(--base-color)) padding-box,
              linear-gradient(331deg, transparent 35%,#e81cff, #40c9ff) border-box;
  border: 2px solid transparent;
  padding: 32px 24px;
  font-size: 14px;
  font-family: inherit;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  border-radius: 16px;
  background-size: 200% 100%;
  animation: gradient 5s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.form-container button:active {
  scale: 0.95;
}

.form-container .form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-container .form-group {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.form-container .form-group label {
  display: block;
  margin-bottom: 5px;
  color: #717171;
  font-weight: 600;
  font-size: 12px;
}

.form-container .form-group input {
  width: auto;
  padding: 12px 16px;
  border-radius: 8px;
  color: var(--text-color);
  font-family: inherit;
  background-color: transparent;
  border: 1px solid #414141;
}

.form-container .form-group textarea {
  width: auto;
  padding: 12px 16px;
  border-radius: 8px;
  resize: none;
  color: var(--text-color);
  height: 96px;
  border: 1px solid #414141;
  background-color: transparent;
  font-family: inherit;
}

.form-container .form-group input::placeholder {
  opacity: 0.5;
}

.form-container .form-group input:focus {
  outline: none;
  border-color: #e81cff;
}

.form-container .form-group textarea:focus {
  outline: none;
  border-color: #e81cff;
}

.form-container .form-submit-btn {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  align-self: flex-start;
  font-family: inherit;
  color: #444444;
  font-weight: 600;
  width: 40%;
  background: #ffffff;
  border: 1px solid #414141;
  padding: 12px 16px;
  font-size: inherit;
  gap: 8px;
  margin-top: 8px;
  cursor: pointer;
  border-radius: 6px;
}

.form-container .form-submit-btn:hover {
  background-color: #ffffffaf;
  border-color: #06bd00;
  color: #035700;
}


.filtered-image {

    filter: sepia(1) saturate(0) hue-rotate(180deg) brightness(1);
    border-radius: 25px;
    background-color: var(--image-color);
    

}


:root{
  --image-color:white;
  --base-color: white;
  --base-variant: #e8e9ed;
  --text-color: #111528;
  --secondary-text: #232738;
  --primary-color: #808080;
  --accent-color: #0071ff;
}
.darkmode{
  --image-color:white;
  --base-color: #020308;
  --base-variant: #020513;
  --text-color: #ffffff;
  --secondary-text: #a4a5b8;
  --primary-color: #060913;
  --accent-color: #0071ff;
}


#theme-switch {
  height: 30px;
  width: 30px;
  padding: 0;
  border-radius: 50%;
  background-color: var(--base-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 2;
  right: 8px;
}
#theme-switch svg{
  fill: var(--text-color);
}
#theme-switch svg:last-child{
  display: none;
}
.darkmode #theme-switch svg:first-child{
  display: none;
}
.darkmode #theme-switch svg:last-child{
  display: block;
}
